*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
    background-color: #ff5959;
}

h1, a {
    color: white;
}

a {
    text-decoration: none;
    margin-left: 16px;
}

#banner {
    height: 350px;
    background-image: url("fondo1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /*
    X: right - center - left
    Y: top - center - bottom
    */
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 0 200px;
    color: black;
}

#banner > div {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
}

#banner > div h2 {
    color: red;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75)

}

#servicios {
    padding: 0 200px;
}

#servicios > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#logo1 {
    height: 65px;
    width: 65px;
    background-image : url("instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    margin:auto;
}

#logo2 {
    height: 65px;
    width: 65px;
    background-image : url("pinterest.png");
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    margin:auto;
}

#logo3 {
    height: 65px;
    width: 65px;
    background-image : url("facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    margin:auto;
}

.servicios{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.titulos {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.parrafosservicios {
    text-align: center;
    padding: 0 25px;
}


/*

IMAGENES DE CONTENIDO: son imagenes que representan
contenido real de la pagina :

<img src="url" alt="mini descripción de la imagen" 
title="mensaje que se ve cuando el cursor esta encima">

IMAGENES SECUNDARIAS : imagenes de decoracion: tramas, fondos,
iconos, etc.

background-image : url("")

*/